* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
}

.noPadding {
  padding: 0;
}
