.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.s {
  padding: 12px 28px;
  border-radius: 37px;
  background-color: rgb(235, 235, 235);
  border: none;
  outline: none;
  width: 280px;
  height: 45px;
  font-size: 1.1rem;
  flex: 1;
}

.s::placeholder {
  color: #000;
  font-size: 1rem;
}
